
@font-face {
    font-family: 'Thai Sans Neue';
    src: url('https://raw.githubusercontent.com/runningmansubth/font/master/ThaiSansNeue-Light/thaisansneue-light-RM.eot');
    src: url('https://raw.githubusercontent.com/runningmansubth/font/master/ThaiSansNeue-Light/thaisansneue-light-RM.eot?#iefix') format('embedded-opentype'),
         url('https://raw.githubusercontent.com/runningmansubth/font/master/ThaiSansNeue-Light/thaisansneue-light-RM.woff2') format('woff2'),
         url('https://raw.githubusercontent.com/runningmansubth/font/master/ThaiSansNeue-Light/thaisansneue-light-RM.woff') format('woff'),
         url('https://raw.githubusercontent.com/runningmansubth/font/master/ThaiSansNeue-Light/thaisansneue-light-RM.ttf') format('truetype'),
         url('https://raw.githubusercontent.com/runningmansubth/font/master/ThaiSansNeue-Light/thaisansneue-light-RM.svg#thaisans_neuelight') format('svg');
    font-weight: normal;
    font-style: normal;

}
